.savannah {
    display: none;
    overflow: hidden;
    user-select: none;

    &__game {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        position: relative;
        background-image: url("../assets/img/bg-savannah.png");
        background-position-y: 4817px;
        height: 100vh;
        transition: background-position-y 1s;
        overflow: hidden;

        &-heart {
            display: flex;
            justify-content: space-around;
            width: 200px;
            align-self: flex-end;
            padding: 10px;

            &-img {
                width: 40px;
                height: 40px;
                background-image: url("../assets/img/heart.png");
                background-repeat: no-repeat;
                background-size: 28px;
            }
        }
        &-field {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 96%;
            height: 100%;
            position: relative;
            padding-bottom: 70px;
        }
        &-question {
            text-align: center;
            width: 300px;
            color: white;
            font-size: 35px;
            transform: translateY(0);
            font-family: Raleway;
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            color: #f2f2f2;
        }
        &-answer {
            text-align: center;
            font-size: 30px;
            background: none;
            border: 0;
            padding: 10px;
            background: #431554d4;
            border: 6px solid #431554d4;
            font-family: Raleway;
            font-style: normal;
            font-weight: 900;
            color: #fdfdfd;
            border-radius: 30px;
            text-shadow: -2px -2px 1px black, 2px 2px 1px black, -2px 2px 1px black, 2px -2px 1px black;
            width: 30%;
            margin-left: 9%;
            margin-right: 9%;
            margin-bottom: 30px;
            min-width: 350px;
            font-size: 3rem;
            word-break: break-word;
        }
        &-answer:hover {
            background: #431554d4;
            border: 6px solid white;
        }
        &-ship {
            width: 45px;
            height: 45px;
            bottom: 10px;
            background-image: url("../assets/img/ship.png");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            transition: 0.3s;
        }
        &-wrap {
            position: absolute;
            top: 45%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &-cancel {
            background: none;
            background-image: url("../assets/img/cancel.png");
            background-repeat: no-repeat;
            background-position: 10px center;
            background-size: 29px;
            background-color: #b44dbe8c;
            border: 0;
            width: 49px;
            height: 50px;
            cursor: pointer;
            border-radius: 50%;
        }
        &-control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 96%;
            margin: 0 auto;
        }
        &-sound {
            background: none;
            background-image: url("../assets/img/sound.png");
            background-position: center;
            background-size: 0px;
            background-color: #b44dbe8c;
            background-repeat: no-repeat;
            background-size: 28px;
            border: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
        &-wrapper {
            width: 110px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
        }
    }
    &__timer {
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50vh;
        width: 90%;

        &-key {
            width: 50px;
            height: 50px;
            background: none;
            background-image: url("../assets/img/keyboard.png");
            background-repeat: no-repeat;
            background-size: 48px;
        }
        &-time {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: green;
            text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
            border: 2px solid gold;
            text-align: center;
            font-weight: bold;
            font-size: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-text {
            margin: 0 auto;
            font-size: 20px;
            color: white;
            text-align: center;
        }
    }
}

.savannah-start {
    &__btn {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        outline: 0;
        border: 2px solid green;
    }
}

@keyframes top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50vh);
    }
}

@keyframes bottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50vh);
    }
}

@keyframes ship-top {
    0% {
    }
    100% {
        transform: translateY(85vh);
        border: 3px solid white;
    }
}
@keyframes ship-bottom {
    0% {
    }
    100% {
        transform: translateY(5vh);
        border: 3px solid white;
    }
}

@keyframes out-top {
    0% {
    }
    100% {
        transform: translateY(-20vh);
        border: 3px solid crimson;
    }
}

@keyframes out-bottom {
    0% {
    }
    100% {
        transform: translateY(-120vh);
        border: 3px solid crimson;
    }
}

.move-from-top {
    animation-name: top;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.move-from-bottom {
    animation-name: bottom;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.move-to-ship-top,
.move-to-ship-bottom {
    height: 25px;
    width: 0px;
    border: 3px solid white;
    border-radius: 15px;
    animation: ship-top 2s linear 1 forwards;
}
.move-to-ship-bottom {
    animation: ship-bottom 2s linear 1 forwards;
}

.move-out-top,
.move-out-bottom {
    height: 25px;
    width: 0px;
    border: 3px solid crimson;
    border-radius: 15px;
    animation: out-bottom 2s linear 1 forwards;
}
.move-out-top {
    animation: out-top 2s 1 linear forwards;
}

.gray-word {
    background-color: gray;
}

.savannah__start-page {
    display: flex;
}

.heart-empty {
    background-image: none;
}

.sound-mute {
    background-color: #0402048f;
}

.answer-dark {
    background: rgba(0, 0, 0, 0.58);
    color: #826363;
}
.answer-dark:hover {
    background: rgba(0, 0, 0, 0.58);
}
.answer-incorrect {
    color: #ca6074b5;
    background: #b5040494;
}

.answer-incorrect:hover {
    color: #ca6074b5;
    background: #b5040494;
}
.answer-correct {
    background: #59c7794d;
}
.answer-correct:hover {
    background: #59c7794d;
}
.answer-auto {
    color: whitesmoke;
    background: #fff0f07d;
}
.answer-auto:hover {
    background: #fff0f07d;
}

.active-learned {
    background-color: #6c55ad;
    box-shadow: 0 0 6px 3px #fff2c3;
}

@media only screen and (max-width: 1150px) {
    .savannah__game-answer {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (max-width: 1050px) {
    .savannah__game-answer {
        width: 30%;
        font-size: 26px;
        min-width: 250px;
        min-height: 70px;
        padding: 0;
    }
    .savannah__game-question {
        font-size: 44px;
    }
}
@media only screen and (max-width: 768px) {
    .savannah__game-answer {
        width: 30%;
        font-size: 20px;
        min-width: 200px;
        border: 3px solid #431554d4;
        &:hover {
            background: #431554d4;
            border: 3px solid white;
        }
    }
    .savannah__game-question {
        font-size: 38px;
    }
}
@media only screen and (max-width: 600px) {
    .savannah__game {
        &-answer {
            width: 41%;
            margin-left: 2%;
            margin-right: 10%;
            font-size: 20px;
            min-width: 120px;
            min-height: 50px;
        }
        &-question {
            font-size: 36px;
            margin-left: 200px;
        }
        &-heart-img {
            width: 30px;
            height: 30px;
        }
        &-ship {
            margin-left: 100px;
        }
        &-heart {
            width: 160px;
        }
    }
}
@media only screen and (max-width: 400px) {
    .savannah__game {
        &-answer {
            width: 32%;
            margin-left: 0%;
            margin-right: 20%;
            font-size: 14px;
            min-width: 140px;
            min-height: 45px;
            border: 2px solid #431554d4;
            &:hover {
                background: #431554d4;
                border: 2px solid white;
            }
        }
        &-ship {
            margin-left: 60px;
        }
    }
    .savannah__game-question {
        font-size: 30px;
        margin-left: 120px;
    }
}

.clear-main {
    margin-top: 0px;
    h2 {
        margin-top: 40px;
    }
    .game__startScreen {
        position: fixed;
        min-height: 700px;
    }
    .game__startScreen-desc {
        width: 90%;
        height: 40px;
    }
    .levels__title {
        position: absolute;
        color: #ff6903;
        left: 10px;
        text-shadow: 1px 1px black;
        top: 30px;
        width: 100px;
        font-size: 23px;
    }
    .levels__wrap {
        top: 75px;
        position: absolute;
        left: 10px;
        width: 300px;
    }
    .game__select-fix {
        position: absolute;
        left: 140px;
        top: 31px;
        width: 300px;
    }
    .game__select-options-page {
        width: 60px;
        border-radius: 8px;
        font-size: 20px;
        padding-left: 5px;
        background-color: #ff336d;
        outline: 0;
        margin-left: 10px;
        color: gold;
    }
    .game__select {
        margin-bottom: 10px;
        width: 282px;
        justify-content: space-between;

        &-words {
            width: 300px;
        }
        &-text {
            color: #ff6903;
        }
        &-wrap {
            position: absolute;
            top: 130px;
            left: 10px;
        }
        &-options {
            height: 36px;
        }
    }
    .show-game {
        padding-top: 0px;
    }
    select {
        cursor: pointer;
    }
}

.select-width {
    width: 100px !important;
}

.game__startScreen-fix {
    background-size: unset !important;
    z-index: 0 !important;
}

.show-game-fix {
    padding-top: 0px !important;
}
.savannah-start__words {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    border: 2px solid #dba880;
    position: absolute;
    left: 133px;
    top: -104px;
    color: #ff6903;
    font-size: 15px;
    font-weight: bold;
}
.savannah__select-text {
    font-size: 24px !important;
    color: #ff6903;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
.savannah__select-options {
    width: 60px;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 5px;
    background-color: #ff336d;
    outline: 0;
    margin-left: 10px;
    color: gold;
}
.savannah__settings {
    position: absolute;
    right: 130px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid crimson;
    padding: 10px;
    background-color: #00000021;
    border-radius: 8px;
}
.savannah__wrap-level {
    width: 300px;
    height: 174px;
    border: 1px solid crimson;
    border-radius: 8px;
    position: absolute;
    left: 130px;
    top: 10px;
    background-color: #00000029;
    z-index: -1;
}

@media only screen and (max-width: 1000px) {
    .savannah__settings {
        right: 10px;
    }
    .savannah__wrap-level {
        left: 10px;
    }
}
@media only screen and (max-width: 650px) {
    .savannah__settings {
        top: 200px;
        right: auto;
    }
    .savannah__wrap-level {
        left: auto;
    }
    .savannah__timer-text {
        font-size: 16px;
    }
    .clear-main {
        h2 {
            margin-top: 290px;
            margin-bottom: 10px;
            font-size: 33px;
        }
        .game__startScreen-desc {
            display: none;
        }
        .btn {
            height: 45px;
            font-size: 20px;
            margin-bottom: 10px !important;
        }
    }
}
.hide-control {
    h2,
    .btn,
    .levels__wrap,
    .levels__title,
    .game__startScreen-desc {
        display: none;
    }
}
