$teal: #009688;
$radioBg: #FF0048;
$red: #BF123D;

@keyframes spinPreloader {
  100% {
    transform: rotate(360deg);
  }
}

.speakIt, .fillwords {
  position: relative;
  padding: 0 3rem;

  display: flex;
  flex-direction: column;
  @include media(1024px) {
    padding: 0 1.5rem;
  }
  @include media(650px) {
    padding: 0 0.6rem;
  }
  .topBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1.6rem;
    @include media(1024px) {
      flex-wrap: wrap;
    }
    @include media(650px) {
      justify-content: flex-end;
    }
    .btn {
      margin-right: 2rem;
      display: inline-flex;
      align-items: center;
      @include media(680px) {
        order: 1;

        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        width: 100%;
        justify-content: center;
      }
      .svg_icon {
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.7rem;
      }
    }
    .close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;

      border-radius: 50%;
      background-color: #740080;
      .svg_icon {
        width: 1.5rem;
        height: 1.5rem;

        fill: #F1BC19;
      }
    }
  }
}

.speakIt {
  &.loaded {
    .loader {
      left: 0;
      opacity: 1;
      .micWrap:before {
        animation: spinPreloader 1s infinite linear;
      }
    }
  }
  &.speakItStart {
    .resultPopup__errors {
      pointer-events: none;
    }
  }
  .loader {
    position: fixed;
    top: 0;
    left: -9999px;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: rgba(#000, 0.5);
    opacity: 0;

    transition: opacity 0.6s;
    .micWrap {
      position: relative;

      width: 8rem;
      height: 8rem;
      padding: 1.5rem;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: 50%;
        border: 0.4rem solid transparent;
        border-top-color: $red;
      }
      .svg_icon {
        width: 100%;
        height: 100%;
      }
    }
  }
  .btn {
    background-color: $red;
    border: 0;
    &:hover {
      background-color: darken($red, 10);
    }
  }
  .score {
    justify-content: flex-start;
    height: auto;
    margin-right: auto;
    @include media(1024px) {
      order: 3;

      justify-content: center;
      width: 100%;
      padding-top: 1rem;
    }
    @include media(680px) {
      flex-wrap: wrap;
    }
    .star {
      margin-right: 1.3rem;
      width: 2.5rem;
      height: 3rem;
      @include media(1024px) {
        width: 2rem;
        height: 2.5rem;
        margin-right: 0.6rem;
      }
      @include media(680px) {
        width: 1.5rem;
        height: 2rem;
        margin-right: 0.3rem;
      }
      .svg_icon {
        width: 100%;
        height: 100%;
      }
    }
  }
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    &__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 2rem;
      @include media(800px) {
        flex-direction: column;
      }
    }
    &__text {
      font-size: 2rem;
      font-weight: 600;
      @include media(800px) {
        text-align: center;
      }
      @include media(600px) {
        font-size: 1.2rem;
      }
    }
    &__options {
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;
      order: 2;
      width: 100%;
      margin-top: auto;
      padding: 1.2rem 0 2.5rem;
      &:before {
        @include media(1024px) {
          content: '';
          order: 1;

          width: 25%;
          margin-left: auto;
        }
        @include media(850px) {
          width: 10%;
        }
        @include media(768px) {
          content: none;
        }
      }
      @include media(1024px) {
        flex-wrap: wrap;
        justify-content: center;
        .game__select {
          position: static;
          order: 2;

          margin-left: auto;

          transform: none;
        }
        .btn {
          order: 2;

          width: 32%;
          margin-top: 1rem;
        }
      }
      @include media(800px) {
        .btn {
          width: 49%;
        }
      }
      @include media(650px) {
        justify-content: flex-start;
        .btn {
          width: 100%;
        }
        .game__select {
          width: 100%;
        }
        .levels {
          margin-bottom: 1rem;
        }
      }
    }
    &__select {
      position: absolute;
      left: 50%;
      top: 1rem;

      display: flex;
      align-items: center;
      flex-direction: column;

      transform: translateX(-50%);
      &-text {
        margin-bottom: 1rem;

        font-size: 1.5rem;
        font-weight: 600;
        color: #BF123D;
      }
      .choices {
        width: 100%;
      }
    }
    &__imgBlock {
      position: relative;

      margin-right: 3rem;
      @include media(800px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
    &__img {
      width: 15rem;
      height: 15rem;
      display: block;

      object-fit: cover;
      border-radius: 50%;
      border: 0.4rem solid #F1BC19;
    }
    &__mic {
      position: absolute;
      bottom: 0;
      right: 0;

      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #6C55AD;
      border-radius: 50%;

      transition: 0.5s;
      .svg_icon {
        width: 2.5rem;
        height: 4rem;
      }
    }
    &__word {
      display: none;
      padding-top: 1.5rem;
      @include media(800px) {
        padding-top: 1rem;
      }
    }
    &__btns {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .btn {
        width: 18%;
        @include media(1400px) {
          width: 23.5%;
        }
        @include media(1024px) {
          width: 32%;
        }
        @include media(800px) {
          width: 49%;
        }
        @include media(650px) {
          width: 100%;
        }
      }
    }
    &.active {
      .game__word {
        display: block;
      }
      .game__mic {
        background-color: #BF123D;
      }
    }
  }
  .wordList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0.5rem;
    @include media(1400px) {
      justify-content: center;
    }
    &__item {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      width: 18%;
      margin-bottom: 1rem;
      padding: 0.3rem 0.7rem;
      border-radius: 4rem;
      background-color: #6842C2;
      border: 0.2rem solid #6842C2;
      cursor: pointer;
      transition: 0.5s;
      @include media(1400px) {
        width: 23.5%;
        margin-right: 2%;
        &:nth-child(4n), &:last-child {
          margin-right: 0;
        }
      }
      @include media(1024px) {
        width: 32%;
        padding: 0.2rem 0.6rem;
        &:nth-child(4n) {
          margin-right: 2%;
        }
        &:nth-child(3n), &:last-child {
          margin-right: 0;
        }
      }
      @include media(800px) {
        width: 49%;
        margin-right: 2%;
        &:nth-child(3n) {
          margin-right: 2%;
        }
        &:nth-child(2n), &:last-child {
          margin-right: 0;
        }
      }
      @include media(650px) {
        width: 100%;
        margin-right: 0 !important;
      }
      &:hover {
        background-color: darken(#6842C2, 10);
      }
      &.active {
        background-color: #BF123D;
        border-color: #FFC834;
      }
      &.success {
        background-color: #231540;
        border-color: #231540;
      }
      .svg_icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        margin-left: 1.5rem;
        @include media(1024px) {
          margin-left: 0.5rem;
          margin-right: 1rem;
        }
        @include media(900px) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      &-text {
        width: 100%;
        text-align: center;
      }
      &-title {
        font-size: 1.1rem;
        font-weight: 500;
        color: #F1BC19;
      }
      &-transcription {
        font-size: 1rem;
        font-weight: 400;
        color: #FBDA85;
      }
    }
  }
  .resultPopup__wrap {
    max-height: 90%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 0.3rem;
    }
  }
  .choices {
    &__inner {
      background-color: #BF123D;
      border-color: #ff638a;
    }
    &__list {
      &--single {
        padding: 0;
      }
      &--dropdown {
        border-color: #ff638a;
        .choices__item {
          &--choice {
            background-color: #E51747;
            border-bottom-color: #ff638a;
            &.choices__item--selectable.is-highlighted {
              background-color: #BF123D;
            }
          }
        }
      }
    }
  }
  .btnUserWords {
    &.active {
      background-color: #231540;
    }
  }
}

.levels {
  &__title {
    color: #BF123D;
  }
  .radio {
    &__decor {
      background-color: $radioBg;
    }
    @for $i from 2 through 6 {
      $radioBg: lighten($radioBg, 5);
      &:nth-last-child(#{$i}) {
        .radio__decor {
          background-color: $radioBg;
        }
      }
    }
  }
}
