
.button {
    border: 1px solid black;
    cursor: pointer;
    outline: 0;
}

.btn {
  min-width: 9rem;
  height: 3rem;

  padding: 0 0.7rem;

  font-weight: 500;
  font-size: 1.7rem;
  color: #FFCB29;

  background-color: #6C55AD;
  border-radius: 0.6rem;
  border: 0.1rem solid #A586FF;

  transition: background-color 0.5s;
  &:hover, &.active {
    background-color: darken(#6C55AD, 10);
  }
  &:focus {
    outline: 0;
  }
  &-circle {
    border-radius: 3rem;
  }
}

a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

$widthLevel: 1;

.levels {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__title {
    width: 100%;
    margin-bottom: 0.7rem;

    font-size: 2rem;
    font-weight: 700;
  }
  .radio {
    position: relative;

    margin-right: 0.7rem;

    cursor: pointer;
    &__input {
      position: absolute;
      left: 50%;
      top: 50%;

      width: 1px;
      height: 1px;

      opacity: 0;
      &:checked ~ .radio__decor {
        box-shadow: 0 0 0.3rem 0.15rem #FFF2C3;
        &:after {
          content: '';
          position: absolute;
          top: 0.3rem;
          left: 0.3rem;

          width: calc(100% - 0.6rem);
          height: calc(100% - 0.6rem);

          background-color: #F1BC19;
          border-radius: 50%;
        }
      }
    }
    &__decor {
      position: relative;

      display: block;
      width: $widthLevel+rem;
      height: $widthLevel+rem;

      background-color: #FF0048;
      border-radius: 50%;
    }
    &:last-child {
      margin-right: 0;
    }
    @for $i from 2 through 6 {
      $widthLevel: $widthLevel + 0.3;
      &:nth-child(#{$i}) {
        .radio__decor {
          width: $widthLevel+rem;
          height: $widthLevel+rem;
        }
      }
    }
  }
}

.choices {
  min-width: 15rem;
  &[data-type*='select-one'] {
    &:after {
      position: absolute;
      right: 0.9rem;
      top: 0.9rem;

      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      margin-top: 0;

      border: 0;
      border-bottom: 0.2rem solid #FFCB29;
      border-right: 0.2rem solid #FFCB29;
      transform: rotate(45deg);
    }
    &.is-open {
      &:after {
        top: 1.3rem;

        margin-top: 0;

        border: 0;
        border-bottom: 0.2rem solid #FFCB29;
        border-right: 0.2rem solid #FFCB29;
        transform: rotate(-135deg);
      }
      .choices__inner {
        border-radius: 0.8rem 0.8rem 0 0;
      }
      &.is-flipped {
        .choices__inner {
          border-radius: 0 0 0.8rem 0.8rem;
        }
      }
    }
    .choices__inner {
      padding-bottom: 0.5rem;
    }
  }
  &__inner {
    display: inline-flex;
    align-items: center;
    height: 3rem;
    min-height: 3rem;
    padding: 0.5rem 1rem;

    font-size: 1.5rem;
    font-weight: 600;
    color: #FFCB29;

    border-radius: 0.8rem;
    border: 0.1rem solid #A586FF;
    background-color: #6C55AD;
  }
  &__list {
    &--single {
      padding: 0;
    }
    &--dropdown {
      border: 0.1rem solid #A586FF;
      .choices__item {
        &--choice {
          display: flex;
          align-items: center;
          height: 2.5rem;
          padding: 0.3rem 1rem;

          font-size: 1.3rem;
          font-weight: 600;
          color: #FFCF3B;

          background-color: #8468D4;
          border-bottom: 0.1rem solid #A586FF;

          transition: background-color 0.5s;
          &:last-child {
            border-bottom: 0;
          }
          &.choices__item--selectable.is-highlighted {
            background-color: #6C55AD;
          }
        }
      }
    }
  }
}
