.statistics {
    display: none;
    background-image: -webkit-linear-gradient(
        top,
        rgb(245, 255, 233) 0%,
        rgb(238, 254, 255) 50%,
        rgb(255, 233, 230) 100%
    );
    min-height: 660px;

    &__title {
        color: brown;
        text-align: center;
        font-size: 50px;
        margin: 0;
        padding: 50px;
    }

    &__table {
        font-family: "Arial Black", Gadget, sans-serif;
        border: 6px solid #86d53b;
        background-color: #ddeecd;
        width: 80%;
        margin: 0 auto;

        &-th1,
        &-th2,
        &-th3 {
            border: 2px solid #76744b;
            padding: 4px 10px;
            position: relative;
            cursor: pointer;
            font-size: 19px;
            font-weight: bold;
            color: #c9e065;
            text-align: center;
        }

        &-th1 {
            min-width: 145px;
        }
        &-th2 {
            min-width: 95px;
        }
        &-th3 {
            min-width: 140px;
        }
    }
    &__table thead {
        background: #3e3e3d;
        background: -moz-linear-gradient(top, #6e6e6d 0%, #515150 66%, #3e3e3d 100%);
        background: -webkit-linear-gradient(top, #6e6e6d 0%, #515150 66%, #3e3e3d 100%);
        background: linear-gradient(to bottom, #6e6e6d 0%, #515150 66%, #3e3e3d 100%);
        border-bottom: 2px solid #444444;
    }
    &__table td {
        font-size: 13px;
        color: #035300;
    }

    &__table td {
        border: 2px solid #76744b;
        padding: 4px 10px;
        position: relative;
        cursor: pointer;
        text-align: center;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 20px;

    &__sort,
    &__btn {
        margin-top: 20px;
        background: #3e3e3d;
        background: -moz-linear-gradient(top, #6e6e6d 0%, #515150 66%, #3e3e3d 100%);
        background: -webkit-linear-gradient(top, #6e6e6d 0%, #515150 66%, #3e3e3d 100%);
        background: linear-gradient(to bottom, #6e6e6d 0%, #515150 66%, #3e3e3d 100%);
        border: 2px solid #76744b;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 19px;
        color: #c9e065;
        font-weight: bold;
        padding: 10px;
        width: 20%;
        outline: 0;
        cursor: pointer;
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }

    &__sort {
        position: relative;
    }

    &__btn:hover {
        box-shadow: -7px 0px 10px -7px #000000, 6px 0px 8px -5px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        color: goldenrod;
    }

    &__btn:active {
        color: rgb(255, 222, 139);
        box-shadow: -3px 0px 5px -4px #000000, 3px 0px 3px -3px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
}

.inverse-sort::after {
    transform: rotate(-90deg) !important;
}
.inverse-sort-click {
    box-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
}

.btn-select {
    background: linear-gradient(180deg,#6e6e6d 0,#818129 66%,#92927d);
}
