.game {
  &__startScreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    text-align: center;
    color: #fff;

    background-size: cover;
    background-position: center;
    background-color: #191919;
    &.hide {
      animation: 1s preloadHide forwards;
    }
    &-title {
      margin-bottom: 24px;
      font-size: 50px;
      font-weight: 700;
      line-height: 1;
      color: #B2DFDB;
      text-shadow: 0 0 7px #000;
    }
    &-desc {
      margin-bottom: 30px;
      font-size: 24px;
      text-shadow: 0 0 5px #000;
    }
    .btn {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
    &__begin {
        background: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        height: 100vh;
        margin: 0;

        &-title {
            font-size: 42px;
            color: white;
        }
        &-start {
            font-size: 30px;
            border: 1px solid green;
        }
        &-time {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: #dc143c;
            text-shadow: 1px 1px 1px #000;
            border: 1px solid gold;
            text-align: center;
            font-size: 42px;
            display: none;
        }
        &-text {
            margin: 0 auto;
            font-size: 20px;
            color: white;
        }
        &-key {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    }
    &__options {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    &__select {
        display: flex;
        justify-content: space-around;

        &-text {
            color: white;
            font-size: 26px;
        }

        &-options {
            height: 30px;
            &-item {
                color: gold;
            }
        }
    }

    &__correct {
        transform: 0.2s;
        background-color: white;
        color: green;
    }
    &__incorrect {
        transform: 0.2s;
        background-color: gray;
        border: 1px solid gray;
        color: crimson;
    }
}

.result {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;

    &__wrap {
        width: 420px;
        margin: 0 auto;
    }

    &__correct {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 20px;
        color: darkgreen;
        font-size: 26px;
        text-align: center;
    }
    &__incorrect {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        color: crimson;
        font-size: 26px;
        text-align: center;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;

        li {
            margin: 0;
            padding: 7px 0 7px 40px;
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 40px;
            outline: 0;
            margin-bottom: 20px;
            border: 1px solid goldenrod;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            span {
                padding-right: 5px;
            }
        }
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 30px;

        &-item {
            min-width: 300px;
            width: 300px;
            height: 50px;
            color: rgba(0, 0, 0, 0.795);
            text-shadow: 1px 1px 1px white;
            font-size: 34px;
            font-family: "Times New Roman", Times, serif;
            border: 2px solid #927e14;
            border-radius: 5px;
            outline: none;
            user-select: none;
            padding: 0px;
            margin-right: 5px;
            margin-left: 5px;
            cursor: pointer;
            background-image: -webkit-linear-gradient(top, rgb(250, 221, 55) 0%, #d9cf73 50%, #ebd983 100%);
            transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
            box-shadow: -2px 10px 13px -7px #000000, 4px 0px 23px -7px #000000, 20px 5px 25px 5px rgba(0, 0, 0, 0),
                -8px -3px 16px -7px #000000;
        }

        &-item:hover {
            background-image: none;
            background: rgb(248, 212, 164);
            color: blue;
            outline: none;
            text-decoration-line: none;
            text-decoration: none;
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
    }
}

.temp {
    width: 200px;
    font-size: 22px;
    margin: 0 auto;
    border: 2px solid goldenrod;
    margin-left: 300px;
    margin-top: 300px;
}

.score {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  .star {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    .svg_icon {
      display: block;
      width: 100%;
      height: 100%;
      fill: $teal;
    }
  }
}

.resultPopup {
  position: fixed;
  top: 0;
  left: -9999px;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;

  transition: opacity 0.6s;
  &.active {
    left: 0;
    opacity: 1;
  }
  &__wrap {
    width: 800px;
    max-width: 100%;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    span {
      margin-left: 15px;
      padding: 2px 20px;
      font-size: 18px;
      color: #fff;
      border-radius: 30px;
      &.success {
        background-color: #00aa00;
      }
      &.errors {
        background-color: red;
      }
    }
  }
  &__word {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    .svg_icon {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
    .text {
      margin-right: 10px;
    }
  }
  &__errors, &__success {
    margin-bottom: 30px;
  }
}
