.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  height: 5.6rem;
  width: 100%;
  padding: 0 3.5rem;

  border-radius: 0 0 2.8rem 2.8rem;
  background-color: rgba(#2B0D6D, 0.6);

  transition: transform 0.6s;
  &__btn {
    position: relative;

    display: inline-flex;
    align-items: center;
    width: 3.2rem;
    height: 2.2rem;
    margin-right: 2.5rem;

    background: 0 0;
    border: none;
    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &-line, &:before, &:after {
      width: 100%;
      height: 0.4rem;

      border-radius: 0.5rem;
      background-color: #F1BC19;

      transition: 0.5s;
    }
    &-active {
      .header__btn-line {
        opacity: 0;
      }
      &:before {
        top: 0.9rem;
        transform: rotate(45deg);
      }
      &:after {
        bottom: 0.9rem;
        transform: rotate(-45deg);
      }
    }
  }
  &__title {
    font-size: 1.9rem;
    font-weight: 700;
    color: #F1BC19;
    text-transform: uppercase;
  }
  &__user {
    margin-left: auto;
    &-login {
      width: 4rem;
      height: 4rem;
      .svg_icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.nav {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  width: 23.5rem;
  height: 100%;
  max-width: 100%;
  padding: 1rem 2.5rem;

  background-color: rgba(#380661, 0.9);
  border-radius: 0 4rem 4rem 0;
  transform: translateX(-100%);

  transition: transform 0.6s;
  &-show {
    transform: none;
  }
  &__list {
    list-style: none;
    &-item {
      margin-bottom: 1.5rem;
    }
    &-link {
      font-size: 1.8rem;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: #F1BC19;
    }
    &-children {
      display: none;
    }
  }
}

/*------------------TOGGLE CLASSES-------------------*/

.decoration {
  text-decoration: underline;
}

.show {
  display: block !important;
}

.show-flex {
  display: flex;
}

.hide {
  display: none !important;
}

/*----------------END TOGGLE CLASSES-----------------*/
