@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.statistic-page .main {
    font-family: "Raleway", sans-serif;
}
.progress {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.common-quantity-words {
    display: block;
    border-radius: 100px;
    font-size: 29px;
    font-weight: 900;
    padding: 0 3%;
    margin: 3% 5% 0;
    text-align: center;
    background-color: #7a00ff9e;
    color: #f0bb19;
}

.progress-title {
    position: relative;
    margin: 1% 25% 0;
    font-size: 41px;
    font-weight: 800;
    color: #bc7bef;
}

.progress-title::before {
    position: absolute;
    left: -21%;
    top: 25%;
    content: " ";
    width: 123px;
    height: 127px;
    background-image: url(../assets/icons/statistic/rocket.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px 10% 0 25%;
}

.progress-scale {
    position: relative;
    width: 500px;
    margin: 0 2%;
}

.progress-learned-words {
    display: flex;
    align-items: center;
    font-size: 72px;
    font-weight: 800;
    color: #ff3c00;
}

.progress-learned-words span {
    font-size: 41px;
}

.progress-all-words {
    display: flex;
    align-items: center;
    font-size: 72px;
    font-weight: 800;
    color: #bf64ff;
}

.progress-all-words span {
    font-size: 41px;
}
.progress-slider[type="range"] {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: -17px;
}
.progress-slider[type="range"]:focus {
    outline: none;
}

.progress-slider[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.progress-slider[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 55px;
    width: 125px;
    background-image: url("../assets/icons/statistic/polzunok.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.progress-line {
    position: absolute;
    width: 100%;
    background-color: #f3f3f3;
    height: 30px;
    border-radius: 58px;
}

.progress-line::-webkit-progress-bar {
    background: #bc7bef;
    border-radius: 76px;
}

.progress-line::-webkit-progress-value {
    background: -webkit-linear-gradient(left, rgb(255, 29, 37) 1%, rgb(241, 188, 0) 100%);;
    border-radius: 76px;
}

@media screen and (max-width: 1200px) {
    .progress-all-words {
        font-size: 40px;
    }
    .progress-all-words span {
        font-size: 28px;
    }
    .progress-learned-words {
        font-size: 40px;
    }
    .progress-learned-words span {
        font-size: 28px;
    }
    .progress-title {
        font-size: 32px;
    }
    .progress-title::before {
        width: 92px;
        height: 92px;
    }
}

@media screen and (max-width: 768px) {
    .progress-title {
        margin: 1% 19% 0;
        font-size: 25px;
    }
    .progress-title::before {
        width: 72px;
    }
    .progress-bar {
        margin: 0px 6% 0 16%;
    }
    .progress-line {
        height: 20px;
    }
    .progress-slider[type="range"]::-webkit-slider-thumb {
        height: 55px;
        width: 80px;
    }
    .progress-slider[type="range"] {
        top: -7px;
        right: 13%;
    }
}

@media screen and (max-width: 580px) {
    .progress-title {
        font-size: 20px;
    }
    .progress-learned-words {
        font-size: 30px;
    }
    .progress-learned-words span {
        font-size: 20px;
    }
    .progress-all-words {
        font-size: 30px;
    }
    .progress-all-words span {
        font-size: 20px;
    }
    .progress-title::before {
        width: 53px;
    }
}

@media screen and (max-width: 480px) {
    .progress-line {
        height: 13px;
    }
    .progress-slider[type="range"] {
        top: -7px;
    }
    .progress-slider[type="range"]::-webkit-slider-thumb {
        width: 60px;
    }
}

@media screen and (max-width: 385px) {
    .common-quantity-words {
        font-size: 16px;
    }
    .progress-title {
        font-size: 14px;
    }
    .progress-title::before {
        width: 40px;
    }
    .progress-learned-words {
        display: flex;
        flex-direction: column;
    }
    .progress-all-words {
        flex-direction: column;
    }
    .progress-learned-words {
        font-size: 20px;
    }
    .progress-learned-words span {
        font-size: 14px;
    }
    .progress-all-words {
        font-size: 20px;
    }
    .progress-all-words span {
        font-size: 14px;
    }
}
