.settings {
    position: fixed;
    right: 0;
    top: 0;

    /*display: flex;*/
    /* align-items: center; */
    width: 39rem;
    height: 100%;
    max-width: 100%;
    padding: 1rem 2rem;

    background: #7148AB;
    opacity: 0.88;
    border-radius: 4rem 0 0 4rem;
    z-index: 10;
    
    transform: translateX(100%);
    transition: transform 0.6s;

    &-show {
        transform: none;
    }

    &__title {
        font-weight: 800;
        font-size: 2.5rem;
        color: #69DFFF;
    }

    .setting-block {
        &__title {
            margin-bottom: 1rem;

            font-weight: 800;
            font-size: 1.5rem;
            color: #69DFFF;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: 45px;
                background: #7C54AF;
                z-index: -1;
            }
        }
        &__list {
            column-count: 2;
        }
        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
    }
    
    &__checkbox {
        position: relative;
        width:  1.8rem;
        height: 1.8rem;
        margin-right: 25px;
        border: 3px solid #A586FF;
        border-radius: 10px;
        -webkit-appearance: none;

        cursor: pointer;

        & + label {
            font-weight: 800;
            font-size: 28px;
            color: #D8BDFF;

            cursor: pointer;
        }
        &:checked {
            background: url(/src/assets/img/checkbox.svg) center center no-repeat, #6C55AD;
        }
        &:focus {
            outline: unset;
            outline-offset: unset;
        }
    }
}
