.settings {
    position: fixed;
    right: 0;
    top: 0;

    /*display: flex;*/
    /* align-items: center; */
    width: 39rem;
    height: 100%;
    max-width: 100%;
    padding: 1rem 2rem;

    background: #7148AB;
    opacity: 0.88;
    border-radius: 4rem 0 0 4rem;
    z-index: 10;
    
    transform: translateX(100%);
    transition: transform 0.6s;

    @include media(1024px) {
        display: block;
        max-width: 80vw;
        padding: 3rem 2rem;
        border-radius: 3rem 0 0 3rem;
        overflow: auto;
    }

    &-show {
        transform: none;
    }

    &__title {
        margin-bottom: 1.5rem;

        font-weight: 800;
        font-size: 2.5rem;
        color: #69DFFF;

        @include media(768px) {
            font-size: 2rem;
        }
        @include media(425px) {
            font-size: 1.5rem;
        }
    }

    .setting-block {
        &__title {
            position: relative;

            margin-bottom: 1rem;

            font-weight: 800;
            font-size: 1.5rem;
            color: #69DFFF;

            @include media(768px) {
                font-size: 1.2rem;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -2rem;
                display: block;
                width: 39rem;
                height: 105%;
                background: #7C54AF;
                z-index: -1;

                @include media(1024px) {
                    width: 80vw;
                }
            }
        }
        &__list {
            column-count: 2;

            @include media(768px) {
                column-count: unset;
            }
        }
        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
    }
    
    &__checkbox {
        position: relative;
        width:  32px;
        height: 32px;
        margin-right: 1rem;
        border: 3px solid #A586FF;
        border-radius: 10px;
        -webkit-appearance: none;

        cursor: pointer;

        @include media(768px) {
            width: 25px;
            height: 25px;
            margin-right: 15px;
            border-radius: 7px;
        }

        & + label {
            font-weight: 800;
            font-size: 1.4rem;
            color: #D8BDFF;

            cursor: pointer;

            @include media(768px) {
                font-size: 1rem;
            }
        }
        &:checked {
            /*background: url(/src/assets/img/checkbox.svg) center center no-repeat, #6C55AD;*/
            background: url("data:image/svg+xml,%3Csvg width='27' height='21' viewBox='0 0 27 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 3.30005L24 1.30005C23.5 0.800049 22.7 0.800049 22.1 1.30005L10.8 12.6001C10.6 12.8001 10.2 12.8001 10 12.6001L5 7.60007C4.5 7.10007 3.69998 7.10007 3.09998 7.60007L1.09998 9.60007C0.599976 10.1001 0.599976 10.9001 1.09998 11.5001L7.40002 17.8L9.40002 19.8C9.90002 20.3 10.7 20.3 11.3 19.8L13.3 17.8L25.9 5.20007C26.6 4.60007 26.6 3.80005 26 3.30005Z' fill='%23F1BC19'/%3E%3C/svg%3E") center center no-repeat, #6C55AD;;

            @include media(768px) {
                background-size: 20px;
            }
        }
        &:focus {
            outline: unset;
            outline-offset: unset;
        }
    }
}
